<h1>Which task do you want to edit?</h1>

<%= form_for @task do |f| %>
  <%= f.label :title, "Enter a title" %>
  <%= f.text_field :title, placeholder: "Garbage" %>
  <%= f.label :details, "Enter details" %>
  <%= f.text_field :details, placeholder: "Taking out the garbage"%>
  <%= f.submit "Update" %>
<% end %>
